name: Release

on: 
  push:
    branches: 
      - master

jobs:
  release:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: docker build . --file Dockerfile --tag docker.pkg.github.com/andrew-waters/argocd-slack-notifier/argocd-slack-notifier:latest
    - name: Login
      run: docker login docker.pkg.github.com -u andrew-waters -p ${{ secrets.GITHUB_TOKEN }}
    - name: Push
      run: docker push docker.pkg.github.com/andrew-waters/argocd-slack-notifier/argocd-slack-notifier:latest
